# Arquivos Python
*.pyc
__pycache__/

# Virtual environment
venv/
env/

# Arquivos de log
*.log

# Arquivos de backup
*~
*.bak
*.swp

# Arquivos de configuração local
*.sqlite3
*.env